.avatar {
	border-radius: 50%;
	width: 60%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	padding: 0.6em;
	margin-bottom: 1em;
	transition: 0.5s;
}

.avatar:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
	width: 65%;
	transition: 0.5s;
}

.logo {
	border-radius: 25%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	width: 100%;
}

.card {
	border-radius: 1em;
	border-style: none;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	transition: 0.5s;
}

.card:hover {
	background-color: #E0FFFF;
	transition: 0.5s;
}

.btn {
	border-radius: 6em;
}

.navbar-toggler {
	border-style: none;
	transition: 0.5s;
}

.navbar-toggler:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	transition: 0.5s;
}
